@using System.Threading;
@using System.Configuration;
@using DAL.Repositories;
@using DAL.Entities.Users;
@using DAL.ConnectionStrings;

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/autosize.js"></script>
</head>
<body>
    @{
        if (Thread.CurrentPrincipal.Identity.IsAuthenticated)
        {
            UserRepository repo = new UserRepository(ConnectionString.GetConnectionString());
            User user = repo.Get(int.Parse(Thread.CurrentPrincipal.Identity.Name));
            if (user.UserRoleId == (int)UserRole.Admin)
            {
                @Html.Partial("_PartialAdminPanel");
            }
        }
    }

    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
