@using SocNetwork.Resources;

<div class="container content header">
    <table style="width:100%">
        <tr>
            <td width="50%">
                <span class="user_action"><a href="/" class="btn-link white"><span class="glyphicon glyphicon-home"></span> @Captions.MyPage</a></span>
                <span class="user_action"><a href="/friends" class="btn-link white"><span class="glyphicon glyphicon-user"></span> @Captions.Friends</a></span>
                <span class="user_action"><a href="/dialogues" class="btn-link white"><span class="glyphicon glyphicon-envelope"></span> @Captions.Messages</a></span>
                <span class="user_action"><a href="/search" class="btn-link white"><span class="glyphicon glyphicon-search"></span> @Captions.Search</a></span>
            </td>
            <td width="50%" align="right">
                <span class="user_action"><a href="/settings" class="btn-link white"><span class="glyphicon glyphicon-cog"></span> @Captions.Settings</a></span>
                <span class="user_action"><a href="/Account/LogOff" class="btn-link white"><span class="glyphicon glyphicon-log-out"></span> @Captions.Logout</a></span>
            </td>
        </tr>
    </table>
</div>
