@using SocNetwork.Resources;

<div class="container content header">
    <table style="width:100%">
        <tr>
            <td style="width:50%">
                <span class="user_action"><a href="/" class="btn-link white"><span class="glyphicon glyphicon-home"></span> @Captions.MyPage</a></span>
                <span class="user_action"><a class="btn-link white"><span class="glyphicon glyphicon-user"></span> @Captions.Friends</a></span>
                <span class="user_action"><a class="btn-link white"><span class="glyphicon glyphicon-envelope"></span> @Captions.Messages</a></span>
            </td>
            <td style="text-align:right; width:50%">
                <span class="user_action"><a class="btn-link white"><span class="glyphicon glyphicon-cog"></span> @Captions.Settings</a></span>
                <span class="user_action"><a href="/Account/LogOff" class="btn-link white"><span class="glyphicon glyphicon-log-out"></span> @Captions.Logout</a></span>
            </td>
        </tr>
    </table>
</div>
