@using SocNetwork.Resources;
@{
    ViewBag.Title = "Roles";
}

<div class="container content header">
    <h2>@Captions.ListOfRoles</h2>
</div>
<div class="container content text-light">
    <div>
        <table class="table">
            <tr>
                <td>@Captions.Id</td>
                <td>@Captions.Name</td>
            </tr>
            @foreach (var r in Model)
            {
                <tr>
                    <td>@((int)r)</td>
                    <td>@r.ToString()</td>
                </tr>
            }
        </table>
    </div>
</div>
