@using System.Threading;
@using SocNetwork.Resources;

@{
    ViewBag.Title = "Edit profile";
}

@{
    if (Thread.CurrentPrincipal.Identity.IsAuthenticated)
    {
        @Html.Partial("_PartialAuthorizedUserPanel");
    }
    else
    {
        @Html.Partial("_PartialNotAuthorizedUserPanel");
    }
}


<div class="container content text-light">

    <div class="row">
        <div class="col-md-3 center">
            <div class="container content header">
                <span class="center">
                    Settings
                </span>
            </div>
            <div class="container content">
                <div>
                    Edit profile
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="container content header">
                <span>Profile info</span>
            </div>
            <div class="container content">
                <form action="/UserDetailInfo/edit" method="post">
                    <div class="form-group">
                        <label for="DOB">Date of birth</label>
                        <input class="form-control" type="date" name="DOB" value="@Model.Info.DateOfBirth.Year-@string.Format("{0:00}", Model.Info.DateOfBirth.Month)-@string.Format("{0:00}", Model.Info.DateOfBirth.Day)" max="@DateTime.Now.Date.ToString("yyyy-MM-dd")" min="@DateTime.Now.AddYears(-200).Date.ToString("yyyy-MM-dd")" />
                    </div>
                    <div class="form-group">
                        <label for="City">City</label>
                        <input class="form-control" type="text" name="City" value="@Model.Info.City" />
                    </div>
                    <div class="form-group">
                        <label for="Interests">Interests</label>
                        <input class="form-control" type="text" name="Interests" value="@Model.Info.Interests" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="@Captions.Save" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>