@using System.Threading;
@using SocNetwork.Resources;
@using SocNetwork.Helpers;
@using DAL.Entities.Users;
@{
    ViewBag.Title = "Get";
}
@{
    if (Thread.CurrentPrincipal.Identity.IsAuthenticated)
    {
        @Html.Partial("_PartialAuthorizedUserPanel");
    }
    else
    {
        @Html.Partial("_PartialNotAuthorizedUserPanel");
    }
}
<div class="container content text-light">
    <div class="row">
        <div class="col-md-3 center">
            <div class="container content header">
                <span class="center">
                    @Model.User.Firstname @Model.User.Surname
                </span>
            </div>
            <div class="container content">
                <div class="img-circle avatar-block">
                    <img class="avatar" src="~/Content/Uploads/UserAvatars/UserAvatarsRounded/@Model.User.DetailInfo.Avatar" />
                </div>
                <div>
                    @if (Thread.CurrentPrincipal.Identity.IsAuthenticated && int.Parse(Thread.CurrentPrincipal.Identity.Name) != Model.User.Id)
                    {
                        @Html.Partial("_PartialUserActions");
                    }
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="container content header">
                <span>@Captions.Information</span>
            </div>
            <div class="container content">
                <h5>@Captions.City: @Model.User.DetailInfo.City</h5>
                <h5>@Captions.DOB: @Model.User.DetailInfo.DateOfBirth.ToShortDateString()</h5>
                <h5>@Captions.Interests: @Model.User.DetailInfo.Interests</h5>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3 center">
            <div class="container content header">
                <a class="btn-link white" href="/user/@Model.User.Id/friends"><span class="glyphicon glyphicon-user"></span> @Captions.Friends</a>
            </div>
            <div class="container content">
                <table>
                    @{
                        int i = 0;
                        foreach (var f in Model.Friends)
                        {
                            i++;
                            <tr>
                                <td><div class="avatar-small-block img-circle"><a href="/user/@f.Id"><img src="~/Content/Uploads/UserAvatars/UserAvatarsRounded/@f.DetailInfo.Avatar" class="avatar-small" /></a></div></td>
                                <td width="100%" align="left"><a href="/user/@f.Id">@f.Firstname @f.Surname</a></td>
                            </tr>
                            if (i == 3)
                            {
                                break;
                            }
                        }
                    }
                </table>
            </div>
        </div>
        <div class="col-md-9">
            <div class="container content header">
                <span>@Captions.Posts</span>
            </div>
            @if(Thread.CurrentPrincipal.Identity.IsAuthenticated)
            {
            <div class="container content">
                <form action="/create-post" method="post">
                    <input type="hidden" name="PageId" value="@Model.User.Id" />
                    <table>
                        <tr>
                            <td>
                                <div class="avatar-small-block img-circle">
                                    <img src="~/Content/Uploads/UserAvatars/UserAvatarsRounded/@Model.CurrentUser.DetailInfo.Avatar" class="avatar-small" />
                                </div>
                            </td>
                            <td width="100%">
                                <textarea class="form-control" id="textarea" name="Text" wrap="hard" cols="60" style="min-width: 100%" maxlength="800" required></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td width="100%" align="right">
                                <div class="text-danger">@Model.ErrorMessage</div>
                                <input type="submit" class=" btn btn-primary" value="@Captions.Post" />
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            }
            <div class="container content pre-scrollable">
                @foreach (var p in Model.Posts)
                {
                    <div class="container header content">
                        <table style="width:100%">
                            <tr>
                                <td><div class="avatar-small-block img-circle"><a href="/user/@p.Post.AuthorId"><img src="~/Content/Uploads/UserAvatars/UserAvatarsRounded/@p.User.DetailInfo.Avatar" class="avatar-small" /></a></div></td>
                                <td width="50%">
                                    <a href="/user/@p.Post.AuthorId">@p.User.Firstname @p.User.Surname</a>
                                    <br />
                                    <span><small>@p.Post.PublicationDate.ToString()</small></span>
                                </td>
                                <td align="right" width="50%">
                                    @if (Thread.CurrentPrincipal.Identity.IsAuthenticated)
                                    {
                                        int id = int.Parse(Thread.CurrentPrincipal.Identity.Name);
                                        if (id == Model.User.Id)
                                        {
                                            <small>
                                                @if(id == p.Post.AuthorId)
                                                {
                                                    <a data-toggle="modal" data-target="#editPostModal" id="@p.Post.Id" class="btn-link"><span class="glyphicon glyphicon-pencil"></span> @Captions.Edit</a>
                                                    <span> | </span>
                                                }
                                                <a href="/post/@p.Post.Id/delete" class="btn-link"><span class="glyphicon glyphicon-remove"></span> @Captions.Delete</a>
                                            </small>
                                        }
                                        else
                                        if (id == p.Post.AuthorId)
                                        {
                                            <small>
                                                <a data-toggle="modal" data-target="#editPostModal" id="@p.Post.Id" class="btn-link"><span class="glyphicon glyphicon-pencil"></span> @Captions.Edit</a>
                                                <span> | </span>
                                                <a href="/post/@p.Post.Id/delete" class="btn-link"><span class="glyphicon glyphicon-remove"></span> @Captions.Delete</a>
                                            </small>
                                        }
                                        else
                                        if (RoleAuth.IsInRole(id, (int)UserRole.Admin) || RoleAuth.IsInRole(id, (int)UserRole.Moderator))
                                        {
                                            <small>
                                                <a data-toggle="modal" data-target="#editPostModal" id="@p.Post.Id" class="btn-link"><span class="glyphicon glyphicon-pencil"></span> @Captions.Edit</a>
                                                <span> | </span>
                                                <a href="/post/@p.Post.Id/delete" class="btn-link"><span class="glyphicon glyphicon-remove"></span> @Captions.Delete</a>
                                            </small>
                                        }
                                    }
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="container content" id="@string.Format("text{0}", p.Post.Id)" style="word-wrap: break-word;">
                        @Html.Raw(p.Post.Text.Replace("\n", "<br/>"))
                    </div>
                    <br />
                }
            </div>
        </div>
    </div>
</div>
<!-- EditPostModal -->
<div class="modal fade" id="editPostModal" tabindex="-1" role="dialog" aria-labelledby="editPostModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content content-dark">
            <div class="modal-header">
                <h5 class="modal-title text-light">@Captions.Edit</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body center text-light">
                <form action="" method="post" id="editForm">
                    <input type="hidden" name="PostId" id="PostId" value="" />
                    <input type="hidden" name="PageId" value="@Model.User.Id" />
                    <div class="form-group">
                        <textarea name="Text" id="EditText" rows="4" cols="60" class="form-control" maxlength="800" required></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn" value="@Captions.Save" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Captions.Close</button>
            </div>
        </div>
    </div>
</div>
<!--End EditModal-->

<script type="text/javascript">
    $('[data-target="#editPostModal"]').click(function () {
        $('#PostId').val(this.id);
        var textId = '#text' + this.id;
        $('#EditText').val($(textId).text().trim());
        $('#editForm').attr('action', '/post/' + this.id + '/edit');
    });
</script>
<script type="text/javascript">
    autosize($('#textarea'));
</script>