@using System.Threading;
@using SocNetwork.Resources;

@{
    ViewBag.Title = Captions.EditProfile;
}

@{
    if (Thread.CurrentPrincipal.Identity.IsAuthenticated)
    {
        @Html.Partial("_PartialAuthorizedUserPanel");
    }
    else
    {
        @Html.Partial("_PartialNotAuthorizedUserPanel");
    }
}


<div class="container content text-light">

    <div class="row">
        <div class="col-md-3 center">
            <div class="container content header">
                <span class="center">
                    @Captions.Settings
                </span>
            </div>
            <div class="container content">
                <div>
                    @Captions.EditProfile
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="container content header">
                <span>@Captions.ProfileInfo</span>
            </div>
            <div class="container content">
                <form action="/settings" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="DateOfBirth">@Captions.DOB</label>
                        <input class="form-control" type="date" name="DateOfBirth" value="@Model.Info.DateOfBirth.Year-@string.Format("{0:00}", Model.Info.DateOfBirth.Month)-@string.Format("{0:00}", Model.Info.DateOfBirth.Day)" max="@DateTime.Now.Date.ToString("yyyy-MM-dd")" min="@DateTime.Now.AddYears(-200).Date.ToString("yyyy-MM-dd")" />
                    </div>
                    <div class="form-group">
                        <label for="City">@Captions.City</label>
                        <input class="form-control" type="text" name="City" value="@Model.Info.City" />
                    </div>
                    <div class="form-group">
                        <label for="Interests">@Captions.Interests</label>
                        <input class="form-control" type="text" name="Interests" value="@Model.Info.Interests" />
                    </div>
                    <div class="form-group">
                        <label for="file">@Captions.Avatar</label>
                        <input type="file" name="file" accept="image"/>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="@Captions.Save" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>