@using System.Threading;
@using SocNetwork.Resources;

@{
    ViewBag.Title = "Get";
}

@{
    if (Thread.CurrentPrincipal.Identity.IsAuthenticated)
    {
        @Html.Partial("_PartialAuthorizedUserPanel");
    }
    else
    {
        @Html.Partial("_PartialNotAuthorizedUserPanel");
    }
}

<div class="container content text-light">

    <div class="row">
        <div class="col-md-3 center">
            <div class="container content header">
                <span class="center">
                    @Captions.MyFriends
                </span>
            </div>
            <div class="container content">
                @Html.Partial("_PartialFriendsMenu")
            </div>
        </div>
        <div class="col-md-9">
            <div class="container content header">
                <span>@Captions.ListFriends</span>
            </div>
            <div class="container content">
                <table>
                    @foreach (var f in Model.Friends)
                    {
                        <tr>
                            <td width="5%"><a href="/user/@f.Id"><img src="~/Content/Images/default-avatar.png" class="avatar-small" /></a></td>
                            <td align="left" width="25%"><a href="/user/@f.Id">@f.Firstname @f.Surname</a></td>
                            <td align="right" width="50%">
                                <a href="#" class="btn btn-primary">@Captions.WriteMsg</a>
                                <a href="/user/@f.Id/dismiss" class="btn btn-danger">@Captions.Remove</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>