@using System.Threading;
@using SocNetwork.Resources;

@{
    ViewBag.Title = "Outgoing Request";
}

@{
    if (Thread.CurrentPrincipal.Identity.IsAuthenticated)
    {
        @Html.Partial("_PartialAuthorizedUserPanel");
    }
    else
    {
        @Html.Partial("_PartialNotAuthorizedUserPanel");
    }
}

<div class="container content text-light">

    <div class="row">
        <div class="col-md-3 center">
            <div class="container content header">
                <span class="center">
                    @Captions.MyFriends
                </span>
            </div>
            <div class="container content">
                @Html.Partial("_PartialFriendsMenu")
            </div>
        </div>
        <div class="col-md-9">
            <div class="container content header">
                <span>@Captions.ListOutRequest</span>
            </div>
            <div class="container content">
                <table>
                    @foreach (var f in Model.Friends)
                    {
                        <tr>
                            <td width="5%">
                                <div class="avatar-small-block img-circle">
                                    <a href="/user/@f.Id"><img src="~/Content/Uploads/UserAvatars/UserAvatarsRounded/@f.DetailInfo.Avatar" class="avatar-small" /></a>
                                </div>
                            </td>
                            <td width="25%" align="left"><a href="/user/@f.Id">@f.Firstname @f.Surname</a></td>
                            <td width="50%" align="right">
                                <a href="/user/@f.Id/dismiss" class="btn btn-danger">@Captions.Cancel</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
