@using SocNetwork.Resources;
@model SocNetwork.Models.LoginViewModel

@{
      ViewBag.Title = "Login";
}

<div class="container short header center">
    <h2>@Captions.Login</h2>
</div>
<div class="container center content short">
    <form action="/Account/Logon" method="post">
        <div class="form-group">
            <input type="email" name="Email" class="form-control" placeholder="@Captions.Email" maxlength="20" required />
        </div>
        <div class="form-group">
            <input type="password" name="Password" class="form-control" placeholder="@Captions.Password" maxlength="16" required/>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label class="lbl">
                    <input id="RememberMe" type="checkbox" value="true" name="RememberMe" />@Captions.Remember
                    <input type="hidden" value="false" name="RememberMe" />
                </label>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="btn" value="@Captions.Login" />
            <a class="btn btn-primary" data-toggle="modal" data-target="#registrationModal">@Captions.DontHaveAcc</a>
        </div>
        <div>
            <a href="#" class="btn-link">@Captions.ForgotPass</a>
        </div>
    </form>
</div>

<!-- RegistrationModal -->
<div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="registrationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content content-dark">
            <div class="modal-header text-light">
                <h5 class="modal-title">@Captions.Registration</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body center">
                <form action="/registration" method="post">
                    <div class="form-group">
                        <input type="text" name="Firstname" class="form-control" placeholder="@Captions.Firstname" maxlength="16" required/>
                    </div>
                    <div class="form-group">
                        <input type="text" name="Lastname" class="form-control" placeholder="@Captions.Lastname" maxlength="16" required/>
                    </div>
                    <div class="form-group">
                        <input type="email" name="Email" class="form-control" placeholder="@Captions.Email" maxlength="20" required/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="Password" class="form-control" placeholder="@Captions.Password" maxlength="16" required/>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="@Captions.Registration" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Captions.Close</button>
            </div>
        </div>
    </div>
</div>
